{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}

{% block title %}{% block title-meta %}
گزارش بازه ای
{% endblock %}{% endblock %}


<!-- نمایش لیست رویدادها -->


{% block main %}

<div class="card-body">
    <form method="get" action="{% url 'eventCal:periodpersonalevent' %}">{% csrf_token %}
        <div class="row">
            <div class="col-6">
                {{form.start_date|as_crispy_field}}
            </div>
            <div class="col-6">
                {{form.end_date|as_crispy_field}}
            </div>
        </div>
        <button class="btn btn-success" type="submit">اعمال فیلتر</button>
    </form>
</div>
<div class="row">
    <div class="col-12">
        {% if object_list %}
        <div class="card">
            <div class="card-body table-responsive p-0">

                <table class="table table-hover">

                    <thead style="background-color:;">
                    <tr>
                        <th>عنوان</th>
                        <th>تاریخ برگزاری</th>
                        <th>ساعت شروع</th>
                        <th>ساعت پایان</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for event in periodpersonalevent %}
                    <tr>
                        <td>
                            {{event.title}}
                        </td>
                        <td>
                            {{event.date}}
                        </td>
                        <td>
                            {{event.start_time}}
                        </td>
                        <td>
                            {{event.end_time}}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
            <!-- /.card-body -->
        </div>

        {% else %}
        <p class="card text-center">رویدادی یافت نشد.</p>
        {% endif %}
        <!-- /.card -->
    </div>
</div>
{% endblock %}